body {
  font-family: poppins;
  color: black;
  background-color: whitesmoke;
}

/* start navbar css */
.nav {
  position: absolute;
  width: 1280px;
  height: 48px;
  left: 80px;
  top: 40px;
}
.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}
.logo .left {
  color: black;
}

.logo .right {
  color: #ff5f26;
}

.profile-picture {
  display: inline-block;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid #ccced2;
}
/* done navbar css */

/* start content box css */
.my-container {
  display: flex;
  justify-content: center;
  box-shadow: 0px 16px 90px rgba(19, 7, 52, 0.08);
  border-radius: 12px;
  width: 800px;
  height: 672px;
}

.content-wirper {
  width: 720px;
  height: 608px;
  left: 40px;
  top: 40px;
  margin: 30px;
}

/* head */
.heading {
  display: flex;
  align-items: center;
}
.task {
  color: #ff5f26;
}

.todo {
  font-weight: bold;
}

.day {
  color: #7a7f83;
}

.btn-orange {
  background-color: #ff5f26;
  color: white;
}

/*sorting */
.sort {
  color: #7a7f83;
  padding: 10px;
  gap: 5px;
}

/* Main Todo */
.form-check-label {
  font-weight: bold;
}

.btn-link {
  font-display: end;
}

.container .my-task {
  display: flex;
  align-items: center;
}

.my-task .label {
  display: flex;
  align-items: center;
}

.my-task .date-task {
  /* Primary/100 */
  background: #ffebd3;
  border-radius: 25%;
  color: orangered;
  font-size: 15px;
}

.desc {
  flex: none;
  order: 1;
  flex-grow: 0;
}
